:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  min-width: 100%;
  min-height: 100%;
}

#chapterList {
  flex: 0 1 auto;
  min-height: 100%;
  width: 20%;
}

#adventureNameAndRecords {
  flex: 0 1 auto;
  min-height: 100%;
  width: 80%
}

#addChapter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: stretch;
}

.chapter-accordion .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 2em;
}
