<!-- Chapter overview -->
<mat-expansion-panel (opened)="expanded = true"
                     (closed)="expanded = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ chapter.name }}
    </mat-panel-title>
    <mat-panel-description>
      <span>{{ chapter.subheader }}</span>
      <span>{{ chapter.approximateDurationInMinutes }} minutes</span>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- Edit chapter -->
  <form #editChapterForm="ngForm" id="edit-chapter-form" (ngSubmit)="editChapter()">
    <mat-form-field>
      <mat-label>change name</mat-label>
      <input name="name" id="name" matInput [(ngModel)]="chapterToEdit.name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>change subheader</mat-label>
      <input name="subheader" id="subheader" matInput [(ngModel)]="chapterToEdit.subheader" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        change duration
      </mat-label>
      <input name="approximateDurationInMinutes" id="approximate-duration-in-minutes" type="number" min="0" matInput
             [(ngModel)]="chapterToEdit.approximateDurationInMinutes" required>
    </mat-form-field>
    <button type="submit" mat-icon-button>
      <mat-icon>check</mat-icon>
    </button>
  </form>

  <button mat-icon-button class="add-text" (click)="recordToAddIsText = !recordToAddIsText">
    <mat-icon>text_fields</mat-icon>
  </button>
  <mat-expansion-panel [expanded]="recordToAddIsText">
    <form #addTextForm="ngForm" id="add-text-form" (ngSubmit)="addText()">
      <mat-form-field>
        <mat-label>
          Text
        </mat-label>
        <input name="text" id="text-input" matInput
               [(ngModel)]="newText.text">
      </mat-form-field>
    </form>
  </mat-expansion-panel>

</mat-expansion-panel>
